<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/05-webService/public3/template/generic.html"></a></li>
        <li><a href="/05-webService/public3/template/elements.html"></a></li>
    </ul>
</nav>