<!DOCTYPE html>
<!--
    road trip by templated
    templated.co @templatedco
    released for free under the creative commons attbiution 3.0 licence
-->
<html lang="en">
<head>
    <title>{{titulo}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/05-webService/public3/assets/css/main.css">
</head>
<body>
    <!--header-->
    <header id="header">
        <div class="logo"><a href="/">{{titulo}} <span>{{nombre}}</span></a></div>
        <a href="#menu"><span>Menu</span></a>
    </header>
</body>
</html>